body {
    background-image: url(images/pat2.png);
}

.guilddiv {
    text-align: center;
    font-size: 72pt;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(33,33,33);
}

.tutorgroupdiv {
    text-align: left;
    font-size: 36pt;
    font-family: 'Bitter', serif;
    color: rgb(33,33,33);
}

.persondiv {
    font-size: 12pt;
    text-align: left;
    margin-left: 5%;
    color: rgb(33,33,33);
}

.commentdiv {
    text-align: left;
    font-style: italic;
    margin-left: 7%;
    color: rgb(33,33,33);
}

.faildiv {
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
    color: red;
    font-size: 72pt;
}